:go:func Index(pageTitle string, youAreUsing bool)

mixin for(golang)
	#cmd Precompile pug templates to #{golang} code.

doctype html
html(lang="en")
	head
		title= pageTitle
		script(type='text/javascript').
			if(question){
				answer(40 + 2)
			}
	body
		h1 Pug - template engine
			+for('Go')

		#container.col
			if youAreUsingPug
				p You are amazing
			else
				p Get on it!
			p.
				Pug is a terse and simple
				templating language with
				a #[strong focus] on performance 
				and powerful features.
		footer
			include footer.pug